/* NOTE:  Selector only entered when category changes  */

/* Universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Type selector */
body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #5a53c4;
    color: #ffffff;
    
}
/* Group selector */
header h1 {
    display: inline-block;
    font-size: 50px;
    color: White;
    letter-spacing: 2px;
}

/* <header> including navigation links */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px black;
    
 }
/* Group selector */
header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Type selector */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 18px;
    color: black;
    margin: 40px;
}

/* Class selector */
.hero {
    
    height: 350px;
    width: 100%;
    background-image: url("../images/Neale.jpg");
    background-size: cover;
    background-position: center;
    }


.about-me {
        display: flex;
        height:200px;
        width: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #292997
     }

.ab1-box {
    width: 20%;
    Background-color: white;
   
    }

.ab2-box {
    width: 80%;
    Background-color: white;
    
}

.work {
    display: flex;
    flex-wrap:wrap;
    height:600px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #292997;
}




.w1-box {
    width: 20%;
    Background-color: white;
}

.w2-box {
    
    width: 80%;
    background-color:white;
    
}

.img-beach{
    width:100%;
    height: 300cm;
    
}

.img-motorcyle {
    width: 50%; 
    height: 300cm;
    display: flex;
   
} 

.img-dogs src{
    width: 50%; 
    height: 300cm;
    display: flex;
    
}

.img-landscape{
    width: 50%; 
    height: auto;
    display: flex;
    
}

.img-Oil-Rig{
    width: 50%; 
    height: 300cm;
    display: flex;
    
}



.contact-me {
    display: flex;
    height:200px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #292997;
}

.contact-me h4 {
        display: inline-block;
        font-size: 15px;
        color: White;
        letter-spacing: 2px;
        color: #292997;
}      
  
.c1-box {
    width: 20%;
    Background-color: white;
    }
    
.c2-box {
    display: flex;
    width: 80%;
    Background-color: white;
    Justify-content:space-around;
    }

.c3-box{
    width: 13%;
    Background-color: white;
    }

.c4-box{
    width: 25%;
    Background-color: white; 
    }       
    
.c5-box{
    width: 12%;
    Background-color: white; 
    }     
        
.c6-box{
    width: 10%;
            Background-color: pink; 
    }       
    
    .c7-box{
     width: 10%;
     Background-color: red; 
    }

/* Type selector */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Group selector */
footer h2 {
    font-size: 20px;
}