/* NOTE:  Selector only entered when category changes  */

/* Universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Type selector */
body {
    
    background-color: #d9dcd6;
}

header {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #5a53c4;
    color: #ffffff;
   
}

nav {
    display: flex;
    flex-wrap:wrap;
    
}

/* Group selector */
header h1 {
    display: inline-block;
}

/* <header> including navigation links */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px black;
}

/* Group selector */
header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;

}

/* Type selector */
a {
    color: #ffffff;
    text-decoration: none;
}


/* Class selector */
.hero {
    height: 350px;
    width: 100%;
    background-image: url("../images/Neale.jpg");
    background-size: cover;
    background-position: center;
}
    
.about-me {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #292997;
    background-color: white;
}

.ab1-box {
    width: 20%;
    Background-color: white;
    
 }

 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration-line:underline;   
    
}

.ab2-box {
    
    width: 80%;
    background-color: white;
}

.ab2-box p {
    font-size: 18px;
    margin: 25px;
    line-height:1.5;
    color: #0f3291;
}
   
.work {
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #292997;
    background-color:white;
}

.w1-box {
    width: 20%;
    Background-color: white;
}

.w2-box {
    
    width: 80%;
    background-color:#c5e4f8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
       
.img-beach {
   
    width: 100%;
    position: relative; 
}    
.img-beach img {  
    min-width:95%;
    max-width:95%;
    max-height: 70vh;  
}
    
.img-projects{
    display: flex; 
  align-items: flex end;
    width: 50%;
    
    position: relative;
}
    
.img-projects img {
   
    width: 90%;
    min-width:90%;
    max-width: 90%;
    max-height: 40vh;
    min-height: 40vh;
}
 
.text-box {
    /* position: absolute; */
    bottom: 20px;
    left: 20px;
    height:8vh;
    width:20vh;
    background-color: #77d3df;
    color: #0f3291;
    margin:10cm;
}
    
h6 {
    font-size:14px;
    margin: 8px;
}   

.text-box p {
    font-size:14px;
    margin: 8px;
    color: #0f3291;
}

    
.contact-me {
    display: flex;
    height:auto;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #292997;
    background-color: white;
}

h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration-line:underline; 
    margin: 40px;
}

h4:hover{ 
    font-size: 18px;
}
   
.c1-box {
    width: 20%;
    Background-color:white;
    }
    
.c2-box {
    display: flex;
    width: 80%;
    Background-color: white;
    Justify-content:space-around;
    }

.c3-box {
    display: flex;
    width: 22%;
    Background-color:white;
  
    }

.c4-box {
    display: flex;
    width: 36%;
    Background-color: white; 
    }       
    
.c5-box {
    display: flex;
    width: 20%;
    Background-color: white 
    }     
        
.c6-box {
    display: flex;
    width: 25%;
    Background-color: white; 
    }       
    
.c7-box{
    display: flex;
    width: 25%;
    background-color:white;
    }

    /* Type selector */
footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    Background-color: white;
    text-align: center;
}   
        
/* Group selector */
footer h5 {
    font-size: 14px;
    color:  blue;  
    padding-bottom: 10px;
}
        
@media screen and (max-width: 992px) {

header {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: purple; 
    }

header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
   }

.about-me{
    display: flex;
    flex-direction:column;
    flex-wrap:nowrap;
    height: auto;
   }
   h2{
    margin: 5px;
   }    
.ab1-box{
    width: auto;   
   }
   
.ab2-box{
    width: auto;   
   }

.work{
    display: flex;
    flex-direction:column;
    flex-wrap:nowrap; 
    height: auto;
   } 

.w1-box{
    width: auto;   
}
    
   
.w2-box{
    width: auto;   
}

.img-projects img {
   
    display: flex;
    max-height: 28vh;
    min-height: 28vh;
   }
  

.text-box{
 display: flex;  
}
.contact-me{
    display: flex;
    flex-direction:column;
    align-items:center;
    height: auto;
}
       
.c1-box{
    width: auto;   
    
}
   
.c2-box, .c3-box, .c4-box, .c5-box, .c6-box, .c7-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto; 
    height: auto;
}

h4{
   margin:10px;
   font-size: 14px; 
}
}

 
 










