/* NOTE:  Selector only entered when category changes  */

/* Universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Type selector */
body {
    background-color: #d9dcd6;
}

header {
    
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #5a53c4;
    color: #ffffff;
   
}

nav {
    display: flex;
    flex-wrap:wrap;
}
/* Group selector */
header h1 {
    display: inline-block;
    font-size: 50px;
    color: White;
    letter-spacing: 2px;
}

/* <header> including navigation links */
header nav {
    flex: 1 1 100%px ;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px black;
    
 }
/* Group selector */
header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Type selector */
a {
    color: #ffffff;
    text-decoration: none;
}

.ab2-box p {
    font-size: 18px;
    color: black;
    margin-top: 55px;
    margin-left:25px;
    margin-right:25px;
    line-height:1.5;
    color: #0f3291
}

/* Class selector */
.hero {
    
    height: 350px;
    width: 100%;
    background-image: url("../images/Neale.jpg");
    background-size: cover;
    background-position: center;
    }



.about-me {
    display: flex;
    flex-wrap: wrap;
    height:200px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #292997;
       
     }

.ab1-box {
    
    width: 20%;
    Background-color: white;
    }

 h2 {
    padding:80px;
    text-align: center;
    text-decoration-line:underline;
}


.ab2-box {

    width: 80%;
    background-color: white;
    
}

.work {
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #292997;
}

.w1-box {
    width: 20%;
    Background-color: white;
}

.w2-box {
    
    width: 80%;
    background-color:#c5e4f8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img-beach {
    flex: 2 1 100%;
    width: 100%;
    position: relative; 
}    
.img-beach img {  
    min-width:95%;
    max-width:95%;
    max-height: 70vh;  
 
}

.img-projects{
    flex: 1 0 50%;
     
    width: 50%;
    height: 40vh;
    position: relative;
}

.img-projects img {
   
    width: 90%;
    min-width:90%;
    max-width: 90%;
    max-height: 40vh;
    
}
 
.text-box {
    position: absolute;
    bottom: 20px;
    left: 20px;
    height:8vh;
    width:20vh;
    background-color: rgb(119, 211, 223);
    color: #0f3291;
    padding-left: 20px;
    padding-right: 20px;
}

h6 {
    font-size:14px;
    padding-top: 8px;
}   

.text-box p {
    font-size:14px;
    padding-bottom:x;
    margin-top: 10px;
    color: #0f3291;
}


.contact-me {
    display: flex;
    height:200px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #292997;
}

h4 {padding-left: 20px;
    display: inline-block;
    font-size: 14px;
    background-color:white;
    letter-spacing: 2px;
    color: #292997;
    margin-top: 83px;
    text-decoration: underline;
}      
  
.c1-box {
    width: 20%;
    Background-color:white
    }
    
.c2-box {
    display: flex;
    width: 80%;
    Background-color: white;
    Justify-content:space-around;
    }

.c3-box {
    width: 16%;
    Background-color:white;
    }

.c4-box {
    width: 25%;
    Background-color: white; 
    }       
    
.c5-box {
    width: 12%;
    Background-color: white 
    }     
        
.c6-box {
    width: 17%;
    Background-color: white; 
    }       
    
.c7-box{
    width: 17%;
    background-color:white;
    }

/* Type selector */
footer {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    Background-color: white;
    
    text-align: center;
   
}   

/* Group selector */
footer h5 {
font-size: 14px;
color:  blue;  
padding-bottom: 10px;
}


@media screen and (max-width: 992px) {
 header {
    background-color: purple;
  }

header nav {

flex-direction: column; 

 
}







@media screen and (max-width: 768px) {
    
    header {
       background-color: blue;
    
    }
  
}